<div  class="container-fluid pt-2">
  <div class="d-flex flex-column">
    <div class="h-25">
      <div class="wizard">
        <a [routerLink]="['info']"
          routerLinkActive="active">
          Question Information <fa-icon [icon]="exclamationTriangelIconQ" *ngIf="!isValid('info')" class="text-alert"></fa-icon>
        </a>
        <a [routerLink]="['image']"
            routerLinkActive="active">
          Image <fa-icon [icon]="exclamationTriangelIconQ" *ngIf="!isValid('image')" class="text-alert"></fa-icon>
        </a>
        <a [routerLink]="['responses']"
          routerLinkActive="active">
          Responses <fa-icon [icon]="exclamationTriangelIconQ" *ngIf="!isValid('image')" class="text-alert"></fa-icon>
        </a>
      </div>
    </div>
    <div class="h-50">
      <div class="card">
        <div class="card-header">
          Question: {{subEditSrv.currentQuestion.question}}
        </div>
        <div class="card-body" *ngIf="subEditSrv.currentQuestion">
          <div class="container">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
</div>
