<div style="padding: 40px;" >
<h1 style="text-align:center;color:#26638e">Privacy Policy</h1>
<!-- table -->
<div style="padding: 20px;">
    <div style=" margin: auto;
        padding: 10px;">
        <p>This privacy notice discloses the privacy practices for <a href="www.mylearningstrategy.com">www.mylearningstrategy.com</a>. This privacy notice applies solely to information collected by this website. It will notify you of the following:</p>
        <ol type="1">
            <li>What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.</li>
            <li>What choices are available to you regarding the use of your data.</li>
            <li>The security procedures in place to protect the misuse of your information.</li>
            <li>How you can correct any inaccuracies in the information.</li>
        </ol>
        <h5><strong>Information Collection, Use, and Sharing</strong></h5><p><br />We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>
        <p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.</p>
        <p>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>
        <br /><h5><strong>Your Access to and Control Over Information</strong></h5><p>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:</p>
        <ul>
            <li>See what data we have about you, if any.</li>
            <li>Change/correct any data we have about you.</li>
            <li>Have us delete any data we have about you.</li>
            <li>Express any concern you have about our use of your data.</li>
        </ul>

        <br /><h5><strong>Security</strong></h5><p> We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>
        <p>Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.</p>
        <p>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>

        <p><strong>If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at <a href="mailto:admin@writerofcode.com">Admin@writerofcode.com</a>.</strong></p>
        <br /><h5><strong>Registration</strong></h5><p>In order to use this website, a user must first complete the registration form. During registration a user is required to give certain information (such as name and email address). This information is used to contact you about the products/services on our site in which you have expressed interest. At your option, you may also provide demographic information (such as gender or age) about yourself, but it is not required.</p>
        <p>And/or: <br /><p>We partner with another party to provide specific services. When the user signs up for these services, we will share names, or other contact information that is necessary for the third party to provide these services. These parties are not allowed to use personally identifiable information except for the purpose of providing these services.</p>
        <br /><h5><strong>Links</strong></h5><p>This website contains links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.</p>
        <br /><h5><strong>Links - Created by our users</strong></h5><p>This website contains links to other sites provided by the users. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information. If you have any concerns aobut an likns provided plese contact us at </p>
        <br /><h5><strong>Surveys &amp; Contests</strong></h5><p>From time-to-time our site requests information via surveys or contests. Participation in these surveys or contests is completely voluntary and you may choose whether or not to participate and therefore disclose this information. Information requested may include contact information (such as name and shipping address), and demographic information (such as zip code, age level). Contact information will be used to notify the winners and award prizes. Survey information will be used for purposes of monitoring or improving the use and satisfaction of this site.</p>


        <br /><br /><h5><strong>Cookies</strong></h5><p>We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site. Cookies can also enable us to track and target the interests of our users to enhance the experience on our site . Usage of a cookie is in no way linked to any personally identifiable information on our site.</p>
        <p>If other organizations use cookies or other devices that track site visitors to your site, insert a paragraph like this in your privacy notice:<br />Some of our business partners may use cookies on our site (for example, advertisers). However, we have no access to or control over these cookies.</p>
        <br /><h5><strong>Sharing</strong></h5><p>We share aggregated demographic information with our partners and advertisers. This is not linked to any personal information that can identify any individual person.</p>

    </div>
</div>
<!-- end of table -->
<h1 style="text-align:center;color:#26638e">Contributor Covenant Code of Conduct</h1>

<h5><strong>Our Pledge</strong></h5>
<p>In the interest of fostering an open and welcoming environment, we as contributors and maintainers pledge to making participation in our project and our community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, gender identity and expression, level of experience, nationality, personal appearance, race, religion, or sexual identity and orientation.</p>


<h5><strong>Our Standards</strong></h5>
<p><strong>Examples of behavior that contributes to creating a positive environment include:</strong></p>
<ul>
    <li>Using welcoming and inclusive language.</li>
    <li>Being respectful of differing viewpoints and experiences.</li>
    <li>Gracefully accepting constructive criticism.</li>
    <li>Focusing on what is best for the community.</li>
    <li>Showing empathy towards other community members.</li>
</ul>

<h5><strong>Examples of unacceptable behavior by participants include:</strong></h5>
<ul>
    <li>The use of sexualized language or imagery and unwelcome sexual attention or advances.</li>
    <li>Trolling, insulting/derogatory comments, and personal or political attacks.</li>
    <li>Public or private harassment.</li>
    <li>Publishing others' private information, such as a physical or electronic address, without explicit permission.</li>
    <li>Other conduct which could reasonably be considered inappropriate in a professional setting.</li>
</ul>

<h5><strong>Our Responsibilities</strong></h5>
 <p>Project maintainers are responsible for clarifying the standards of acceptable behavior and are expected to take appropriate and fair corrective action in response to any instances of unacceptable behavior.
    Project maintainers have the right and responsibility to remove, edit, or reject comments, commits, code, wiki edits, issues, and other contributions that are not aligned to this Code of Conduct, or to ban temporarily or permanently any contributor for other behaviors that they deem inappropriate, threatening, offensive, or harmful.
  </p>
<h5><strong>Scope</strong></h5>
   <p>This Code of Conduct applies both within project spaces and in public spaces when an individual is representing the project or its community. Examples of representing a project or community include using an official project e-mail address, posting via an official social media account, or acting as an appointed representative at an online or offline event. Representation of a project may be further defined and clarified by project maintainers.</p>
<h5><strong>Enforcement</strong></h5>
 <p>   Instances of abusive, harassing, or otherwise unacceptable behavior may be reported by contacting the project team at mdo@getbootstrap.com. The project team will review and investigate all complaints, and will respond in a way that it deems appropriate to the circumstances. The project team is obligated to maintain confidentiality with regard to the reporter of an incident. Further details of specific enforcement policies may be posted separately.
    Project maintainers who do not follow or enforce the Code of Conduct in good faith may face temporary or permanent repercussions as determined by other members of the project's leadership.
  </p>
<h5><strong>Attribution</strong></h5>
<cite>
    This Code of Conduct is adapted from the [Contributor Covenant][homepage], version 1.4, available at [<a href="https://www.contributor-covenant.org/version/1/4/code-of-conduct.html">contributor-covenant.org</a>][version]
    <a href="https://www.contributor-covenant.org/">homepage</a>
    <a href="https://www.contributor-covenant.org/version/1/4/code-of-conduct.html">version</a>
</cite>


</div>
