<div id="services" class="container-fluid text-center">
  <h1 class="font-italic h-50" >Welcome<small> to My Learning Strategy</small></h1>
  <br>
  <div class="card-deck">
      <div class="card">
          <div class="card-header bg-info"><em style="color:#ffffff">Flash Cards</em></div>
          <div class="card-body text-left">
              <ul>
                  <li>Create new subjects for your own flash cards.</li>
                  <li>With each question you can setup multiple answers.</li>
                  <li>To help with the memorization you can embed pictures to help with Visualization.</li>
                  <li>The use of Acronyms is often helpful so we have a field just for that.</li>
              </ul>
          </div>
      </div>
      <div class="card">
          <div class="card-header bg-info"><em style="color:#ffffff">Memorization Techniques</em></div>
          <div class="card-body text-left">
              <ul>
                  <li>You can setup how the flash cards will shuffle or be selected to present to you.</li>
                  <li>Define a random number of cards to be selected with a minim of 4 to a maximum of 10 cards.</li>
                  <li>Use categories to you can chunk the data into manageable pieces.</li>
              </ul>
          </div>
      </div>
      <br />
      <div class="card">
          <div class="card-header bg-info"><em style="color:#ffffff">Assessments</em></div>
          <div class="card-body text-left">
              <ul>
                <li>Randomly select from questions and responses.</li>
                <li>Randomly sort the flash cards by questions, responses </li>
                <li>Select responses randomly, or by correct or incorrect answers or both. </li>

              </ul>
          </div>
      </div>
  </div>
</div>
<hr />
